.product1-section, 
.product2-section, 
.product3-section, 
.product4-section, 
.product5-section, 
.product6-section, 
.product7-section {
    display: none; /* Hide all sections by default */
}

/* Define classes for visibility control */
.hidden {
    display: none; /* Hide elements with this class */
}

.visible {
    display: block; /* Show elements with this class */
}
